@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500;600;700;800&display=swap');

/* Root Variable */
:root {
    --color-primary: #5c6bc0;
    --color-danger: #ff5370;
    --color-success: #22b573;
    --color-warning: #ffa726;
    --color-white: linear-gradient(to bottom, #f2f3f7, #d0d6e2);
    --color-info-dark: #78909c;
    --color-info-light: #cfd8dc;
    --color-dark: #263238;
    --color-light: rgba(63, 81, 181, 0.1);
    --color-primary-variant: #283593;
    --color-dark-variant: #455a64;
    --color-background: linear-gradient(to right, #f1f5f8, #e6ebf1);

    --card-border-radius: 1.2rem;
    --border-radius-1: 0.2rem;
    --border-radius-2: 0.4rem;
    --border-radius-3: 0.6rem;

    --card-padding: 1.6rem;
    --padding-1: 0.8rem;

    --box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.2);
}

/* Dark Theme Variable */
.dark-theme-variables {
    --color-background: linear-gradient(to right, #2f3136, #1c1e21);
    --color-white: linear-gradient(to bottom, #2f3136, #1c1e21);
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.4);
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: poppins, sans-serif;
    font-size: 0.88rem;
    background: var(--color-background);
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
}

.container {
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 16rem auto 24rem;
}

a {
    color: var(--color-dark);
}

h1 {
    font-weight: 800;
    font-size: 1.6rem;
}

h2 {
    font-size: 1.4rem;
}

h3{
    font-size: 0.87rem;
}

h4{
    font-size: 0.8rem;
}

h5{
    font-size: 0.75rem;
}

small{
    font-size: 0.74rem;
}

.text-muted{
    color: var(--color-info-dark);
}

p {
    color: var(--color-dark-variant);
}

b {
    color: var(--color-dark);
}

.primary {
    color: var(--color-primary);
}

.danger {
    color: var(--color-danger);
}

.success {
    color: var(--color-success);
}

.warning {
    color: var(--color-warning);
}

img {
    display: block;
    width: 100%;
}

.profile-photo {
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 50%;
    overflow: hidden;
}


/*LEFT*/

left {
    height: 100vh;
}

left .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
    margin-bottom: 2rem;
}

left .logo h1{
    color: grey;
}

left .logo {
    display: flex;
    gap: 0.6rem;
}

left .logo img {
    width: 2rem;
    height: 2rem;
}

left .close {
    display: none;
}


/*LEFT SIDEBAR*/

left .sidebar {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
    top: 3rem;
}

left h3 {
    font-weight: 500;
}

left .sidebar a {
    display: flex;
    color: var(--color-info.dark);
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 200ms ease;
}

left .sidebar a:first-child {
    color: var(--color-primary);
}

left .sidebar a:last-child {
    font-size: 1.6rem;
    position: fixed;
    bottom: 0.5rem;
}

left .sidebar a.active {
    background: var(--color-light);
    color: var(--color-primary);
    margin-left: 0;
}

left .sidebar a.active:before {
    content: "";
    width: 6px;
    height: 100%;
    background: var(--color-primary);
}

left .sidebar a span {
    font-size: 1.6rem;
    transition: all 200ms ease;
}

left .sidebar a.active.span {
    color: var(--color-primary);
    margin-left: calc(1rem - 3px);
}

left .sidebar a:hover {
    color: var(--color-primary);
}


left .sidebar .icon-button__badge {
    padding: 2px 10px;
    font-size: 12px;
    border-radius: var(--border-radius-3);
    position: absolute;
    top: 1rem;
    right: 5rem;
    width: 20px;
    height: 20px;
    background: var(--color-danger);
    color: var(--color-dark);
    display: flex;
    justify-content: center;
    align-items: center;
}


/* MAIN */

main {
    margin-top: 1.4rem;
}

main .dateandsearch{
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    margin-bottom: 2rem;
}

main .date{
    display: inline-block;
    background: var(--color-light);
    border-radius: var(--border-radius-1);
    margin-top: 1rem;
    padding: 0.5rem 1.6rem;
    max-width: 10rem;
}

main .date input[type="date"] {
    background: transparent;
    color: var(--color-dark);
}

main .dateandsearch .search-bar {
    height: 3.3rem;
    width: 15rem;
    border-radius: var(--border-radius-1);
    display: flex;
    align-items: right;
    padding: 0.5rem 1.6rem;
    position: relative;
    background: var(--color-light);
    max-width: 30rem;
  }
  
  main .dateandsearch .input {
    border: none;
    height: 3rem;
    width: 10rem;
    color: var(--color-dark);
    font-size: 12px;
    outline: none;
    background: none;
  }
  
   main .dateandsearch .input:not(:placeholder-shown) + .label {
    font-size: 12px;
    top: 3px;
    color: var(--color-dark);
  }
  
  main .dateandsearch .input:focus ~ .label {
    font-size: 9px;
    top: 3px;
    color: var(--color-primary);
    transition: all 200ms ease;
  }
  
  main .dateandsearch .label {
    color: var(--color-primary);
    position: absolute;
    top: 20px;
    pointer-events: none;
    transition: all 200ms ease;
  }
  
  main .dateandsearch .search-btn {
    background: none;
    border-radius: 20px;
    height: 30px;
    min-width: 30px;
    display: flex;
    align-items: center;
    box-shadow: none;
    justify-content: center;
    cursor: pointer;
    right: 10px;
    position: absolute;
    transition: all 200ms ease;
  }
  
  main .dateandsearch .icon {
    display: inline-flex;
  }
  
  main .dateandsearch .icon-18 {
    width: 18px;
    height: 18px;
  }
  
  main .dateandsearch .highlight {
    width: 0px;
    height: 1px;
    background: var(--color-primary);
    position: absolute;
    bottom: 8px;
    transition: all 200ms ease;
  }
  
  .input:focus ~ .highlight {
    width: 150px;
    transition: all 200ms ease;
  }

main .insights {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
}

main .insights > div {
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    transition: all 200ms ease;
}

main .insights > div:hover {
    box-shadow: none;
}

main .insights > div span {
    background: var(--color-primary);
    padding: 0.5rem;
    border-radius: 50%;
    color: var(color--white);
    font-size: 2rem;
}

main .insights > div.returns span{
    background: var(--color-danger);
}

main .insights > div.income span{
    background: var(--color-success);
}

main .insights > div .middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .insights h3 {
    margin: 1rem 0.6rem;
    font-size: 1rem;
}

main .insights .progress{
    position: relative;
    width: 92px;
    height: 92px;
    border-radius: 50%;
}

main .insights svg{
    width: 7rem;
    height: 7rem;
}

main .insights svg circle{
    fill: none;
    stroke: var(--color-primary);
    stroke-width: 14;
    stroke-linecap: round;
    transform: translate(5px, 5px);
    stroke-dasharray: 110;
    stroke-dashoffset: 90;
}

main .insights .income svg circle{
    stroke-dasharray: 110;
    stroke-dashoffset: 51;
}

main .insights .returns svg circle{
    stroke-dasharray: 110;
    stroke-dashoffset: 60;
}

main .insights .total svg circle{
    stroke-dasharray: 110;
    stroke-dashoffset: 50;
}

main .insights .progress .number {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .insights small {
    margin-top: 1.3rem;
    display: block;
}

main .theme-toggler {
    background: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.5rem;
    width: 5.2rem;
    cursor: pointer;
    border-radius: var(--border-radius-1);
    margin: 1rem;
    padding: 0.5rem;
    margin: 0.5rem
}

main .theme-toggler span {
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .theme-toggler span.active {
    color: var(--color-primary);
    border-radius: var(--border-radius-1);
}

/* RECENT ORDERS */

main .recent-orders {
    margin-top: 2rem;
}

main .recent-orders h2{
    margin-bottom: 0.8rem;
}

main .recent-orders table {
    background: var(--color-white);
    width: 100%;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    taxt-align: center;
    box-shadow: var(--box-shadow);
    transition: all 200ms ease;
}

main .recent-orders table:hover {
    box-shadow: none;
}

main table tbody td {
    height: 2.8rem;
    border-bottom: 1px solid var(--color-light);
    color: var(--color-dark-variant);
}

main table tbody tr:last-child {
    border: none;
}

main .recent-orders a {
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: var(--color-primary);
}


/* RIGHT */

.right {
    margin-top: 1.4rem;
}

.right .top {
    display: flex;
    justify-content: end;
    gap: 2rem;
}

.right .top button {
    display: none;
}

.right .top .icon-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    color: var(--color-dark);
    background: var(--color-light);
    border: none;
    outline: none;
    border-radius: 50%;
  }


/* NOTIFICATIONS */
.right .top .icon-button:hover {
    cursor: pointer;
  }
  
.right .top .icon-button:active {
    background: var(--color-dark);
  }
  
.right .top .icon-button__badge {
    position: absolute;
    padding: 2px 10px;
    font-size: 12px;
    top: -2px;
    right: -2px;
    width: 20px;
    height: 20px;
    background: var(--color-danger);
    color: var(--color-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius-3);
  }


.right .top .profile {
    display: flex;
    gap: 2rem;
    text-align: right;
}


/*RECENT UPDATES*/

.right .recent-updates {
    margin-top: 1rem;
    margin-bottom: 1rem;

}

.right .recent-updates h2 {
    margin-bottom: 0.8rem;
}

.right .recent-updates .updates {
    background: var(--color-white);
    padding: var(--card-border-radius);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    transition: all 200ms ease;

}

.right .recent-updates .updates:hover {
    box-shadow: none;
}

.right .recent-updates .updates .update {
    display: grid;
    grid-template-columns: 2.6rem auto;
    gap: 1rem;
    margin-bottom: 1rem;
}

.right .recent-updates a{
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: var(--color-primary);
    
}


/*SALES ANALYTICS*/

.right .sales-analytics {
    margin-top: 3rem;
}

.right .sales-analytics h2 {
    margin-bottom: 0.8rem;
}

.right .sales-analytics .item {
    background: var(--color-white);
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.7rem;
    padding: 1.4rem var(--card-padding);
    border-radius: var(--border-radius-3);
    box-shadow: var(--box-shadow);
    transition: all 200ms ease;
}

.right .sales-analytics .item:hover {
    box-shadow: none;
}


.right .sales-analytics .item .right {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 0;
    width: 100%;
}

.right .sales-analytics .item .icon {
    display: flex;
    padding: 0.6rem;
    color: var(--color-white);
    border-radius: 50%;
    background: var(--color-primary);
    display: flex;
}

.right .sales-analytics .item.returned .icon {
    background: var(--color-danger);
}

.right .sales-analytics .item.sales .icon {
    background: var(--color-success);
}

.right .sales-analytics .add-product {
    background-colro: transparent;
    border: 2px dashed var(--color-primary);
    color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
}

.right .sales-analytics a{
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: var(--color-primary);
}


/* MEDIA QUERIES*/

@media screen and (max-width: 1200px) {
    .container{
        width:  94%;
        grid-template-columns: 7rem auto 23rem;
    }

 left .logo h1 {
    display: none;
 }

 left .logo {
    margin-left: 25%;
 }

 left .sidebar a {
    width: 5.6rem;
 }

 left .sidebar h3 {
    display: none;
 }

 left .sidebar a:last-child {
    position: relative;
    margin-top: 1.8rem;
 }

 main .dateandsearch{
    justify-content: start;
    gap: 2rem;
}

 main .insights {
    grid-template-columns: 1fr;
    gap: 0;
 }

 main .recent-orders{
    width: 94%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 15rem 0 0 8.8rem;
 }

 main .recent-orders table {
    width: 83vw;
 }

 .right .top .icon-button__badge {
    font-size: 12px;
  }
}

@media screen and (max-width: 760px) {
    .container{
        width: 100%;
        grid-template-columns: 1fr;
    }

 left {
    position: fixed;
    left: 0;
    background: var(--color-white);
    width: 5.6rem;
    z-index: 3;
    box-shadow: 3rem 3rem 4rem var(--color-light);
    height: 100vh;
    padding-right: var(--card-padding);
 }

 left .logo {
    margin-left: 50%;
 }

 left .sidebar a {
    width: 100%:
    height: 3.4rem;
 }

 left .sidebar a:last-child{
    position: absolute;
    bottom: 5rem;
 }

 main {
    margin-top: 8rem;
    padding: 0 1rem;
 }

 main .dateandsearch{
    justify-content: space-between;
}

 main .recent-orders {
    position: relative;
    margin: 3rem 0 0 0;
    width: 0%;
 }

 main .recent-orders table{
    width: 80%;
    margin: 10px;
 }

 .right{
    width: 94%;
    margin: 0 auto 4rem;
 }

 .right .top{
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    padding: 0 0.8rem;
    height: 4.6rem;
    width: 100%;
    margin: 0;
    z-index: 2;
    box-shadow: 0 1rem 1rem var(--color-light);
 }

 .right .top .theme-toggler {
    width: 4.4rem;
    postiion: absolute;
    margin-left: 10%;
 }

 .right .top button {
    display: inline-block;
    background: transparent;
    cursor: pointer;
    color: var(--color-dark);
    position: absolute;
    left: 1rem;
 }

 .right .top button span{
    font-size: 2rem;
 }

 .right .top .icon-button__badge {
    font-size: 12px;
  }
}

